.wrapper { text-align: center; }

.container {
	position: relative;
}

.img-container img {
	position: absolute;
	top: 20%;
	left: 35%;
	z-index: 1;
}

input {
	display: inline;
	margin: 10px;
}

label { cursor: pointer; }

.img-container img {
	opacity: 0;
	visibility: hidden;
	border-radius: 0;
	box-shadow: 0 20px 26px 0 rgba(0,0,0,0.5);
	transition: transform 0.5s ease, opacity 0.5s;
}

.btn {
	display: flex;
	flex-direction: row;
}

#r2:checked ~ .container .img-container #img2 {
	opacity: 1;
	visibility: visible;
	z-index: 10;
}

#r3:checked ~ .container .img-container #img3 {
	opacity: 1;
	visibility: visible;
	z-index: 10;
}

#r4:checked ~ .container .img-container #img4 {
	opacity: 1;
	visibility: visible;
	z-index: 10;
}

#r6:checked ~ .container .img-container #img6 {
	opacity: 1;
	visibility: visible;
	z-index: 10;
}


#r7:checked ~ .container .img-container #img7 {
	opacity: 1;
	visibility: visible;
	z-index: 10;
}

