body {
	background-color: #FAEDED;
	margin: 50px 100px;

}
header {
	padding: 60px;
	text-align: center;
	background: #CA6363;
	Color: ##571E1E;
}

h1 {
	font-family: "Lucida Console";
	font-size: 40px;
}

nav ul {
	list-style-type: none;
	padding: 20px;
	overflow: hidden;
	background-color: #333333;
}

nav ul li {
	float: left;
}

nav ul li a {
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#popular {
	font-size: 35px;
	padding-top: 20px;
}

main {
	margin-bottom: 100px;
}

.content {
	margin-bottom: 50px;
	display: flex;
	gap: 20px;
	flex-direction: row;
}

@media (max-width: 768px) {
	.content {
	display: flex;
	flex-direction: column;
	margin-right: 0;
	}
}

.content img {
	width: 300px;
}

section h1 {
	font-size: 30px;
	font-color: #571E1E;
}

section p {
	font-size: 20px;
	width: 60%;
}

button {
	padding: 15px;
}

button a {
	text-decoration: none; 
}

footer ul {
	text-align: center;
	list-style-type: none;
	padding: 20px;
}

footer ul li a {
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
