.header {grid-area: header;}
.left-sidebar { grid-area: left; }
.main { grid-area: main; }

.page {
	display: grid;
	grid-template-columns: 30% 70%;
	grid-template-rows: auto auto auto;
	grid-template-areas:
		"header header"
		"left main"
		"footer footer";
}

.header {
	background-color: #E7E7E7;
	padding: 20px 0;
	margin-bottom: 20px;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.left-sidebar {
	height: 30vh;
	width: 45%;
	position: sticky;
	z-index: 1;
	top: 20px;
	left: 100px;
	border-radius: 10px;
	background-color: #E7E7E7;
}

.left-sidebar a {
	text-decoration: none;
	font-size: 20px;
	display: block;
	color: black;
	margin-left: 50px;
	margin-top: 30px;
	gap: 20px;
}

.main#home { display: none; }
.main#explore { display: none; }
.main#profile { display: block; }


/* Explore page styles */

.main#explore .suggested-profiles {
	display: flex;
	gap: 40px;
	margin-bottom: 60px;
}

.main#explore .suggested-profiles .profile-item {
	padding: 20px;
	border: 0.3px solid grey;
	border-radius: 6px;
	background-color: #E7E7E7;
}

.main#explore .suggested-profiles .profile-item img {
	width: 80px;
	height: 80px;
	border-radius: 80px;
}

.main#explore .trending {
	background-color: #E7E7E7;
	width: 420px;
	padding: 14px;
	padding-left: 30px;
	border-radius: 10px;
}

.main#explore .trending hr {
	border: none;
	border-top: 1px solid #c0c0c0;
	margin: 8px 0;
}

.main#explore .trending p {
	color: #333333;
	font-size: 14px;
}

.main#explore .trending a.tag {
	color: black;
	font-size: 18px;
	text-decoration: none;
}

.main#explore .trending-item {
	margin-bottom: 10px;
	margin-top: 10px;
}

.main#explore .trending-item p { margin: 0; }


/* Profile Page Styles */

.main#profile .profile-container {
	width: 35%;
	height: 85%;
	display: flex;
  flex-direction: column;
  align-items: center;
	background-color: #E7E7E7;
	border: 0.3px solid black;
	border-radius: 6px;
	padding-top: 20px;
}

.main#profile #pfp {
	width: 200px;
	border-radius: 200px;

}

.main#profile #name {
	font-size: 25px;
	font-weight: 500;
	margin-bottom: 0;
}

.main#profile #username {
	margin-top: 0;
	color: #3B3B3B;
}

.footer {
	grid-area: footer;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	margin-top: 80px;
	background-color: #E7E7E7;
	text-align: center;
}

.footer .footer-row ul li {
	list-style-type: none;
	display: inline-block;
	padding: 20px;
}

.footer .footer-row ul a {
	text-decoration: none;
	cursor: pointer;
	color: black;
}
